# Python for Data Science: Fundamentals

## Programming in Python

***Mission 311*** - Download the takeaway for this mission in folder `/takeaways/` [on Github](https://github.com/dinhanhthi/data-science-learning/tree/master/dataquest-courses).

In [1]:
8 + 42

50

In [3]:
# display the result
print(40 + 2)

42

In [4]:
# the same line
print(20 + 7) print(10 + 2)

SyntaxError: invalid syntax (<ipython-input-4-b98dff18fc8d>, line 2)

In [5]:
# separate lines
print(20 + 7)
print(10 +2)

27
12

In [6]:
# the order of lines (who comes first will be excuted first)
print(5 + 1)
print(5 - 1)

6
4

In [7]:
# different orders in comparison with the above codes
print(5 - 1)
print(5 + 1)

4
6

In [16]:
# other math operators
print(16*10) # multiplication
print(16/4) # division (always gives real numbers)
print(17//4) # division giving integer numbers
print(2**3) # power
print(10%3) # modulo

160
4.0
4
8
1

## Variables and Data Types

***Mission 200*** - Download the takeaway for this mission in folder `/takeaways/` [on Github](https://github.com/dinhanhthi/data-science-learning/tree/master/dataquest-courses).

In [10]:
# assign values to variables
result = (2 + 1) * 4
print(result)

12

In [12]:
# and then you can use this variables to make other tasks
print(result + 1)

result = result*2
print(result)

13
24

In [14]:
# for the second line of code above, you can use an alternative
result = 10
result += 2 # euquiv to result = result + 2
print(result)

12

In [15]:
# make the same for other operators
result = 2
result *= 3
print(result)

result /= 2
print(result)

6
3.0

In [17]:
# type of numbers
print(type(2))
print(type(2.0))

<class 'int'>
<class 'float'>

In [18]:
# change the type of number
print(4)
print(float(4))

print(4.3)
print(int(4.3))

4
4.0
4.3
4

In [19]:
# round numbers
print(round(3.7))
print(round(2.3))

4
2

In [23]:
# string
name = "Anh-Thi Dinh"
print(name)
print(type(name))

# using '' instead of ""
age = '30' # not a number, it's a string!
print(age)
print(type(age))

# favorite number
fav_num = 3 # it's a number
print(fav_num)
print(type(fav_num))

Anh-Thi Dinh
<class 'str'>
30
<class 'str'>
3
<class 'int'>

In [27]:
# intermix "" and ''
print("'If you don't understand it, ask me any question!' - I said.")

print('"If you don\'t understand it, ask me any question!" - I said.') # using backslash before special characters

'If you don't understand it, ask me any question!' - I said.
"If you don't understand it, ask me any question!" - I said.

In [34]:
# we can do math with string!
print('a' * 2)
print('a ' * 3) # there is a space
print('a' + 'b')

aa
a a a
ab

In [29]:
# we can't perform operators between strings and integers
print('a' + 3)

TypeError: can only concatenate str (not "int") to str

In [37]:
# we do that if this string represents a number
print(int('4') + 1)

5

In [38]:
# but we can't do this because 'thi' doesn't represent a number
print(int('thi') + 1)

ValueError: invalid literal for int() with base 10: 'thi'

In [33]:
print(str(4))
print(str(4) + 'thi')

4
4thi

In [35]:
print(int('3.3')) # we can't because 3.3 is not a integer number

ValueError: invalid literal for int() with base 10: '3.3'

In [36]:
# but we can do this
print(float('3.3'))

3.3

In [41]:
# if you wanna a block of texts?
text = '''This is a sentence.
This is another sentence.    
'''
print(text)

This is a sentence.
This is another sentence.

In [42]:
# you can use """
text2 = """This is a sentence.
This is another sentence.
"""
print(text2)

This is a sentence.
This is another sentence.

In [43]:
# don't think that """ is only used for a block, you can use it for a single line of text
text3 = """This is a sentence."""
print(text3)

This is a sentence.

## Lists and Foor Loops

***Mission 312*** - Download the takeaway for this mission in folder `/takeaways/` [on Github](https://github.com/dinhanhthi/data-science-learning/tree/master/dataquest-courses).

In [47]:
# this is a list
lst = ['Temple Run', 0.0, 'USD', 1724546, 4.5]
print(lst)

['Temple Run', 0.0, 'USD', 1724546, 4.5]

In [48]:
# how many elements in list?
print(len(lst))

5

In [59]:
# index of list starts with 0 NOT 1
print("lst = ", lst)
print(lst[0]) # the first element

lst =  ['Temple Run', 0.0, 'USD', 1724546, 4.5]
Temple Run

In [60]:
# the last element
print("lst = ", lst)
print(lst[4]) # the 5th element in `lst`
print(lst[-1]) # you can use "-1" if you don't know exactly the number elements in the list to get its last element

lst =  ['Temple Run', 0.0, 'USD', 1724546, 4.5]
4.5
4.5

In [61]:
# you can use only NEGATIVE NUMBERS to access the elements of a list
print("lst = ", lst)
print(lst[-1]) # last element
print(lst[-2]) # the second last element
print(lst[-5]) # the 1st element in a 5-element-list

lst =  ['Temple Run', 0.0, 'USD', 1724546, 4.5]
4.5
1724546
Temple Run

In [55]:
# you can't access an index exceed the number of elements in a list
print(lst[5]) # it's 6th element and there is no 6th element in lst

IndexError: list index out of range

In [62]:
# SLICING: access multiples elements in a list
print("lst = ", lst)
print(lst[:3]) # elements from 0 to 2 (1st to 3rd)

lst =  ['Temple Run', 0.0, 'USD', 1724546, 4.5]
['Temple Run', 0.0, 'USD']

In [63]:
# lst[a:b] considers elements from a to b-1 (NOT b)
print("lst = ", lst)
print(lst[1:3]) # elements from index 1 to 2 (2nd element to 3rd one)

lst =  ['Temple Run', 0.0, 'USD', 1724546, 4.5]
[0.0, 'USD']

In [64]:
print("lst = ", lst)
# if you wanna consider the FIRST 3 elements of the list
print(lst[:3])

# if you wanna consider the LAST 3 elements of the list
print(lst[-3:])

lst =  ['Temple Run', 0.0, 'USD', 1724546, 4.5]
['Temple Run', 0.0, 'USD']
['USD', 1724546, 4.5]